#projects{
    height: 100vh;
    display: inline flex;
    flex-flow: column wrap;
}

/* .title {
    margin-top: 120px;
    height: 100px;
    color: #eff2f9;
    background-color:  #9fbbcc28;
    display: flex;
    align-items: center;
    justify-items: center;
    font-size: 20pt;
}

.title h3{
    margin-left: 25pt;
    font-size: 1.5em;
    letter-spacing: 4pt;
} */

.project-content {
    color: #CBDAE2;
    margin: 60px 70px 20px 70px;
    padding-top: 50px; 
    /* display: inline-flex; */
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: stretch; 
}

.project-pic img{
    height: 300px;
    width: 430px;
    border-radius: 10px;
}

.project-pic img:hover {
    opacity: 50%;
    transform: scale(1.05);
    transition: all 0.3s linear;
}

.project-cards {
    flex-direction: row;
    flex-wrap: wrap-reverse;
    align-items: center;
    align-content: stretch;
}


/* .pic-wrap {
    position: relative;
} */

/* .hide{
visibility: hidden;
}

.hide:hover{
visibility: visible;
} */



