#projects{
    min-height: 100vh;
    display: inline-flex;
    flex-flow: row wrap;
    height: fit-content;
}

.project-title {
    margin-top: 120px;
    width: 100%;
    height: 100px;
    color: #eff2f9;
    background-color:  #9fbbcc28;
    display: flex;
    align-items: center;
    justify-items: center;
    font-size: 20pt;
}

.project-title h3{
    margin-left: 25pt;
    font-size: 1.5em;
    letter-spacing: 4pt;
}

.card-container{
    margin: 0px 70px 20px 70px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

#card-title {
    letter-spacing: 3pt;
}

.project-details {
    position: relative;
    padding: 8px;
    height: 300px;
    width: 430px;
}

.project-link {
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    color: #CBDAE2;
}

.project-image {
    margin-top: 30px;
    height: 300px;
    width: 430px;
    border-radius: 10px;
}

.project-image:hover {
    opacity: 50%;
    transform: scale(1.05);
    transition: all 0.3s linear;
}
  
.project-description {
    position: absolute;
    top: 38px;
    height: 300px;
    width: 430px;
    color: #eff2f9;
    font-family: 'Source Code Pro', monospace;
    text-align: center;
    visibility: hidden;
    background-color: #475b6367;
    opacity: 60%;
    object-fit: cover;
    border-radius: 10px;
    /* transition effect. not necessary */
    transition: opacity .2s, visibility .2s;
  }

  .project-description p {
      padding: 10px;
  }
  
  .project-details:hover .project-description {
    visibility: visible;
    opacity: 1;
  }

  .project-details h5{
    font-family: 'Roboto', sans-serif;
    justify-items: center;
    font-size: 30px;
}

#card-label {
    padding-top: 20px;
}



