#about{
    height: 100vh;
    display: inline-flex;
    flex-flow: column wrap;
}

.title {
    margin-top: 120px;
    height: 100px;
    color: #eff2f9;
    background-color:  #9fbbcc28;
    display: flex;
    align-items: center;
    justify-items: center;
    font-size: 20pt;
}

.title h3{
    margin-left: 25pt;
    font-size: 1.5em;
    letter-spacing: 4pt;
}

.content {
    color: #CBDAE2;
    padding-top: 50px;
    margin: 60px 70px 20px 70px;
    display: inline-flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: stretch;
}

#about-text{
    margin-right: 25px;
    max-width: 60%;
}

.content li {
    font-family: 'Source Code Pro', monospace;
    color: #978ea0;
    text-align: center;
    padding: .75em;
}

.content ul{
    column-gap: 20px;
    -moz-column-count: 4;
    -moz-column-gap: 20px;
    -webkit-column-count: 4;
    -webkit-column-gap: 20px;
    column-count: 4;
    list-style-type: none;
}

#prof-pic {
    width: 250px;
    height: auto;
    border-radius: 2px;
    position: relative;
}


#photo-div {
display: inline-block;
position: relative;
}


#photo-div::before {
    content: '';
    display: block;
    z-index: -1;
    position: absolute;
    bottom: 10%;
    left: 15%;
    border: 4px solid #B07156;
    height: 250px;
    width: 100%;
  }

#photo-div:hover::before {
    transform: translate(5px, -5px);
    transition: all 0.3s linear;
  }

/* #photo-div:hover{
    /* transform: translate(5px, -5px); */
    /* transition: all 0.3s ease-in-out; */ 


#photo-div:hover::after{
    transform: translate(-5px, 5px);
    transition: all 0.3s linear;
}

#location{
    color: #978ea0;
}

/* #prof-pic {
    width: 250px;
    height: auto;
    border-radius: 2pt;
    outline: 0;
    box-shadow: 10px -10px 0 -5px #B07156, 10px -10px 0 0 #2E2C2F;
}

.prof-pic:hover {
    width: 250px;
    height: auto;
    border-radius: 2pt;
    outline: 0;
    box-shadow: 5px -5px 0 -5px #B07156, 5px -5px 0 0 #2E2C2F;
} */



/* .pic-border :before {
    border-radius: 5px solid black;
    top: 0;
    left: 0;
    background-color: var(--navy);
    mix-blend-mode: screen;
}

.pic-border :after {
    border: 2px solid var(--green);
    top: 20px;
    left: 20px;
    z-index: -1;
} */



