#sticky-email {
    position: fixed;
    bottom: 100px;
    right: 40px;
}

#sticky-email img {
    height: 30px;
    width: 40px;
    transition: transform .3s ease-in-out;
}

#sticky-email img:hover {
    background-color: #B07156;
    transform: rotate(180deg);
}
