#about{
    height: 100vh;
    display: inline-flex;
    flex-flow: column wrap;
}

.title {
    margin-top: 120px;
    height: 100px;
    color: #eff2f9;
    background-color:  #9fbbcc28;
    display: flex;
    align-items: center;
    justify-items: center;
    font-size: 20pt;
}

.title h3{
    margin-left: 25pt;
    font-size: 1.5em;
    letter-spacing: 4pt;
}

.contact-content {
flex-direction: column;
margin: 15% 35%; 
}

.email {
    flex-direction: column;
}
.button{
    width: 115px;
    height: 25px;
    background: #b07156;
    padding: 20px;
    text-align: center;
    align-items:center;
    color: #eff2f9;
    font-family: 'Roboto', sans-serif;
    border-radius: 5px;
    margin-top: 10px;
    margin-right: 20px;
    margin-left: 20px;
    text-decoration: none;
    transition: background-color 0.3s, box-shadow 0.3s, color 0.3s;
    box-shadow: inset 0 0 0 #86A6BA, 0 0 .5em #86A6BA;
}

.button:hover{
    color: #eff2f9;
	background-color: #475B63;
	box-shadow: inset 0 0 0 #86A6BA, 0 0 .5em #86A6BA;
    border: #b07156 solid 2px;  
}

.socials ul{
    justify-content: space-around;
    flex-direction: row;
}

.socials li {
    list-style-type: none;
}

.socials img {
    width: 60px;
    height: 60px;
}

.socials img:hover{
    opacity: 50%;
    transform: scale(1.05);
    transition: all 0.3s linear;
}