#contact{
    min-height: 100vh;
    display: flex;
    flex-flow: column wrap;
    height: fit-content;
}

.contact-title {
    margin-top: 120px;
    width: 100%;
    height: 100px;
    color: #eff2f9;
    background-color:  #9fbbcc28;
    display: flex;
    align-items: center;
    justify-items: center;
    font-size: 20pt;
}

.contact-title h3{
    margin-left: 25pt;
    font-size: 1.5em;
    letter-spacing: 4pt;
}

.contact-content {
    margin: 80px 110px 20px 110px;
    display: flex;
    justify-content: space-evenly;
}

.socials img {
    width: 120px;
    height: 120px;
    margin: 60px;
}

.socials img:hover{
    /* opacity: 30%; */
    transform: scale(1.05);
    transition: all 0.3s linear;
}


/* Make email a button: */
/* #contact-email {
    background: #b07156;
    padding: 20px;
    color: #eff2f9;
    font-family: 'Roboto', sans-serif;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s, box-shadow 0.3s, color 0.3s;
    box-shadow: inset 0 0 0 #86A6BA, 0 0 .5em #86A6BA;
    margin-top: 0;
}

#contact-email:hover{
    color: #eff2f9;
	background-color: #475B63;
	box-shadow: inset 0 0 0 #86A6BA, 0 0 .5em #86A6BA;
    border: #b07156 solid 2px;  
    font-weight: bold;
} */