#form {
    margin: 20px;
    display: flex;
    flex-flow:column;
    align-items: center;
}

#form label {
    font-family: 'Roboto', sans-serif;
    color: #89ABBD;
}

#form input {    
    margin-top:5px;
    font-family: 'Source Code Pro', monospace;
    border-bottom: 2px solid #B07156;
    width: 200px;
    margin-bottom: 20px;
    border-radius: 5px;
    background-color: #EFF2F9;
}

#form textarea{
    border-radius: 5px;
    border-bottom: 2px solid #B07156;
    height: 300px;
    width: 200px;
    background-color: #EFF2F9;
}

#submit {
    width: 80px;
    height: 35px;
    margin-top: 10px;
    margin-left: 65px;
    background: #b07156;
    color: #eff2f9;
    font-family: 'Roboto', sans-serif;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s, box-shadow 0.3s, color 0.3s;
    box-shadow: inset 0 0 0 #86A6BA, 0 0 .5em #86A6BA;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
}

#submit:hover{
    color: #eff2f9;
	background-color: #475B63;
	box-shadow: inset 0 0 0 #86A6BA, 0 0 .5em #86A6BA;
    border: #b07156 solid 2px;  
    font-weight: bold;
    cursor: pointer;
    transform: inherit;
}

