#navbar{
    height:60px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: hsla(198, 16%, 33%, 0.801);
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1;
    animation: fadeIn ease 5s;
    -webkit-animation: fadeIn ease 5s;
    -moz-animation: fadeIn ease 5s;
    -o-animation: fadeIn ease 5s;
    -ms-animation: fadeIn ease 5s;
}

.home{
    font-family: 'Source Code Pro', monospace;
}

.link a {
    display: inline-flex;
    color: #eff2f9;
    text-align: center;
    margin-right: 30px;
    padding: 5px;
    transition: all 0.5s ease;
    font-family: 'Roboto', sans-serif;
    text-decoration:none;
}

.link a:hover{
    background: #b07156;
    text-align: center;
    border-radius: 3px;
}

#home-btn{

    margin-left: 20px;
    font-size: 1em;
    letter-spacing: 4pt;
    margin-top: 20px;
    padding: 15px 22px 15px 25px;
    height: 50px;
    background: #b07156;
    color: #eff2f9;
    border-radius: 5px;
    transition: background-color 0.3s, box-shadow 0.3s, color 0.3s;
    text-decoration: none;
    box-shadow: #2E2C2F;
}

#home-btn:hover{
    color: #b07156;
	background-color: #475B63;
	box-shadow: inset 0 0 0 #86A6BA, 0 0 .5em #86A6BA;
    border: #b07156 solid 2px;     
    cursor:pointer; 
}



