#navbar{
    height:60px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: hsla(198, 16%, 33%, 0.801);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.home{
    font-family: 'Roboto', sans-serif;
}

.link a {
    display: inline-flex;
    color: #eff2f9;
    text-align: center;
    margin-right: 30px;
    padding: 5px;
    transition: all 0.5s ease;
    font-family: 'Roboto', sans-serif;
    text-decoration:none;
}

.link a:hover{
    background: #b07156;
    text-align: center;
    border-radius: 2px;
}