#intro {
    margin-top: 60px;
    width: 100vw;
    min-height: 100vh;
    text-align: center;
    display: flex;
    flex-flow: column wrap;
    align-items: stretch;
    align-content: center;
}

.name{
    color: #eff2f9;
    font-size: 30px;
    margin-top: 15%;
    letter-spacing: 7pt;
    animation: fadeIn ease 3s;
    -webkit-animation: fadeIn ease 3s;
    -moz-animation: fadeIn ease 3s;
    -o-animation: fadeIn ease 3s;
    -ms-animation: fadeIn ease 3s;
}

.name h1{
    margin-left: 20pt;
}

.tagline{
    color: #86a6ba;
    font-size: 20px;
    animation: fadeIn ease 5s;
    -webkit-animation: fadeIn ease 5s;
    -moz-animation: fadeIn ease 5s;
    -o-animation: fadeIn ease 5s;
    -ms-animation: fadeIn ease 5s;
}

.intro-contact {
    float:none;
    animation: fadeIn ease 9s;
    -webkit-animation: fadeIn ease 9s;
    -moz-animation: fadeIn ease 9s;
    -o-animation: fadeIn ease 9s;
    -ms-animation: fadeIn ease 9s;
}

.intro-contact a {
    font-family: 'Open Sans', sans-serif;
}

.intro-button{
    width: 115px;
    height: 25px;
    background: #b07156;
    padding: 20px;
    text-align: center;
    align-items:center;
    color: #eff2f9;
    font-family: 'Roboto', sans-serif;
    border-radius: 5px;
    margin-right: 10px;
    text-decoration: none;
    transition: background-color 0.3s, box-shadow 0.3s, color 0.3s;
    box-shadow: inset 0 0 0 #86A6BA, 0 0 .5em #86A6BA;
}

.intro-button:hover{
    color: #eff2f9;
	background-color: #475B63;
	box-shadow: inset 0 0 0 #86A6BA, 0 0 .5em #86A6BA;
    border: #b07156 solid 2px;  
}

.bio{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 350pt;
    animation: fadeIn ease 7s;
    -webkit-animation: fadeIn ease 7s;
    -moz-animation: fadeIn ease 7s;
    -o-animation: fadeIn ease 7s;
    -ms-animation: fadeIn ease 7s;
}

.bio p{
    display: flex;
    justify-content: center;
    padding: 30px;
    color: #86a6ba;
}

#intro-email {
    animation:bouncy 5s infinite linear;
    position:relative;
    padding-right: 44.5px;
    padding-left: 44.5px;
}


#intro-contact-scroll{
    animation:bouncy 5s infinite linear;
    position:relative;
}


@keyframes bouncy {
    0%{top:0em}
    40%{top:0em}
    43%{top:-0.9em}
    46%{top:0em}
    48%{top:-0.4em}
    50%{top:0em}
    100%{top:0em;}
    }

     /* Key Frames */

  @keyframes fadeIn {
    0% {opacity:0;}
    40%{opacity:0}
    100% {opacity:1;}
  }
    
  @-moz-keyframes fadeIn {
    0% {opacity:0;}
    40%{opacity:0}
    100% {opacity:1;}
  }

  @-webkit-keyframes fadeIn {
    0% {opacity:0;}
    40%{opacity:0}
    100% {opacity:1;}
  }

  @-o-keyframes fadeIn {
    0% {opacity:0;}
    40%{opacity:0}
    100% {opacity:1;}
  }

  @-ms-keyframes fadeIn {
    0% {opacity:0;}
    40%{opacity:0}
    100% {opacity:1;}
  }
