#experience{
    height: 100vh;
    width: 100%;
    display: inline-flex;
    flex-flow: column wrap;
}

.title {
    margin-top: 60px;
    height: 100px;
    color: #eff2f9;
    background-color:  #9fbbcc28;
    display: flex;
    align-items: center;
    justify-items: center;
    font-size: 20pt;
}

.title h3{
    margin-left: 25pt;
    font-size: 1.5em;
    letter-spacing: 4pt;
}


.tabs{
    /* padding-top: 50px; */
    /* margin: 60px 70px 20px 70px; */
    font-family: 'Source Code Pro', monospace;
    margin: 15% 35%; 
    display: inline block;
    flex-flow: column;

}

.tablist{
    font-size: 25px;
    background-color: #3a383b;
    border-radius: 5px;
    width: 515px;
    /* justify-items: center; */
}

.tablist h1{
    font-family: 'Source Code Pro', monospace;
    font-size: 25px;
    border-radius: 5px;
    color:#89ABBD;
    margin: 10px 10px;
    justify-items: center;
}

.tabs h2{
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
}

.tabs ul{
    list-style-type: none;
}



/* #aldi{
    border: 3px solid red;
    background-color: #2E2C2F;
    font-size: 5px;
} */

.job-description{
    font-family: 'Open Sans', sans-serif;
}

#label {
    justify-items: center;
    margin-left: 10%;
    font-family: 'Open Sans', sans-serif;
    letter-spacing: 1pt;
}

    
