#experience{
    height: 100vh;
    width: 100%;
    display: inline-flex;
    flex-flow: column wrap;
}

.experience-title {
    margin-top: 120px;
    height: 100px;
    color: #eff2f9;
    background-color:  #9fbbcc28;
    display: flex;
    align-items: center;
    justify-items: center;
    font-size: 20pt;
}

.experience-title h3{
    margin-left: 25pt;
    font-size: 1.5em;
    letter-spacing: 4pt;
}

.tabs{
    font-family: 'Source Code Pro', monospace;
    margin: 10% 25%; 
    display: inline block;
    flex-flow: column;

}

.tablist{
    /* padding-left: 250px;
    padding-right: 200px; */
    font-size: 25px;
    background-color: #3a383bad;
    border-radius: 5px;
    width: 515px;
    /* justify-items: center; */
}

.tablist h1{
    font-family: 'Source Code Pro', monospace;
    padding-left: 5px;
    padding-right: 5px;
    font-size: 30px;
    border-radius: 5px;
    color: #1e1d1f;
    margin: 10px 10px;
    justify-items: center;
}

.tabs h2{
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    color: #89ABBD;

}

#custom {
    background-color: red;
}

.tabs ul{
    list-style-type: none;
    color: #232224;
}

.tabs li {
    padding: 2px;
}


.job-description{
    font-family: 'Open Sans', sans-serif;
}

#label {
    justify-items: center;
    margin-left: 10%;
    font-family: 'Open Sans', sans-serif;
    letter-spacing: 1pt;
}

    
